.card {
    margin-bottom: 20px;
  }
  
  input[type=text], input[type=email], textarea {
    padding: 10px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
  }
  
  input[type=submit] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 0;
    border: none;
  }
  